<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ifabula.pluginfingerprint" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PluginFingerprint</name>
    <js-module name="PluginFingerprint" src="www/PluginFingerprint.js">
        <clobbers target="cordova.plugins.PluginFingerprint" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PluginFingerprint">
                <param name="android-package" value="com.ifabula.pluginfingerprint.PluginFingerprint" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/PluginFingerprint.java" target-dir="src/com/ifabula/pluginfingerprint" />
    </platform>

</plugin>